/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: url('./bg1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  /* Header Styles */
  header {
    background-color: rgba(0, 0, 0, 0.419);
    padding: 20px 40px;
    text-align: center;
    flex-shrink: 0; /* Prevent header from shrinking */
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  header h1 {
    font-size: 36px;
    margin-top: 10px;
    color: #0fb5f1;
  }
  
  /* Search Bar Styles */
  .search-container {
    text-align: center;
    margin-top: 20px;
    flex-shrink: 0;
  }
  
  #searchBox {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin-right: 15px;
    border: 2px solid #3498db;
    border-radius: 8px;
    outline: none;
    background-color: #ecf0f1;
    color: #2c3e50;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }